# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.iml

实验一：K近邻算法改进约会网站配对效果/.idea/misc.xml

实验一：K近邻算法改进约会网站配对效果/.idea/modules.xml

实验一：K近邻算法改进约会网站配对效果/.idea/workspace.xml

*.class

*.pyc

cuda_programing/Source Code.zip

ml_from_scratch/.idea/workspace.xml

data_visualization/data/Haiti.csv

data_visualization/data/macrodata.csv

data_visualization/data/tips.csv

kaggle/digit_recongizer/predictions.csv

kaggle/digit_recongizer/data/train.csv

kaggle/digit_recongizer/data/test.csv

data_visualization/data/spx.csv

*.xml
